<div class="leading-loose">
  <form
    class="max-w-xl m-4 p-10 bg-white rounded shadow-xl"
    [formGroup]="editRoleForm"
  >
    <p class="text-gray-800 font-medium">Role information</p>
    <div class="mt-2">
      <label class="block text-sm">Name</label>
      <input
        class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded"
        formControlName="name"
        type="text"
        placeholder="Your Name"
      />
    </div>
    <div class="mt-2">
      <label class="block text-sm">Description</label>
      <input
        class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded"
        formControlName="description"
        type="text"
        placeholder="Your Description"
      />
    </div>
    <div class="mt-4">
      <button
        class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded"
        type="submit"
        (click)="update()"
      >
        Guardar
      </button>
    </div>
  </form>
</div>
